<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shares"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PortfolioTotal"
            android:label="@string/title_activity_portfolio_total" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shares.MainActivity" />
        </activity>
        <activity
            android:name=".ShareSetsActivity"
            android:label="@string/title_activity_share_sets" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shares.MainActivity" />
        </activity>
        <activity
            android:name=".RiseFallActivity"
            android:label="@string/title_risefallactivity" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shares.MainActivity" />
        </activity>
    </application>

</manifest>